MONGO_URI="YOUR MONGODB CONNECTION URI"
JWT_SECRET="YOUR JWT SECRET KEY"
NEXT_PUBLIC_PAYPAL_CLIENT_ID="YOUR PAYPAL CLIENT ID"
PAYPAL_SECRET="YOUR PAYPAL SECRET"

NODE_ENV="development"

# NODE_ENV="production"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"